*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f8;
    font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", "sans-serif";
    color: #222;
    /* text-align: center; */
}


h1, h2, h3, h4, h5, h6{
    color: blue;
}

h1{
    margin: .5em 0;
}

.thumbnail{
}

.bookList{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

.bookAuthor{
    color: #f17d98;
    font-size: 1.15rem;
    font-weight: bold;
    margin: .2em 0;

}

@media screen and (min-width:768px) {
    
    .bookList{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }

}


.singleBook{
    width: 380px;
    background-color: #fff;
    overflow: hidden;
    padding: 1rem;
    border-radius: 8px;
}

.thumbnail{
    width: 100%;
}

.book p{
    margin-top: 0.5rem;
}