*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f8;
    font-family: -apple-system, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", "sans-serif";
    color: #222;
    text-align: center;
}


h1, h2, h3, h4, h5, h6{
    color: blue;
}

.bookList{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}


@media screen and (min-width:768px) {
    .bookList{
        grid-template-columns: repeat(3, 1fr);
    }

}


.singleBook{
    width: 360px;
    background-color: #fff;
    overflow: hidden;
    padding: 1rem;
    border-radius: 8px;
}

.thumbnail{
    width: 100%;
}